html{
  background-repeat: no-repeat;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
    padding:0;
    margin:0;
}



.header{
    width:100%;
    height:65px;
    border-bottom:1px solid gray;
    box-shadow: 0px 0px  10px grey;
}


.headerdiv{
    display: flex;
    justify-content: space-around;
}

.headerdiv span {
    margin-top: 10px;
    margin-right:15px;
    cursor:pointer;
    color:black;
    transition:all ease 0.9s;
    font-size:13px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.headerdiv span:hover{
    color:bisque;
    border-bottom: 1px solid black;
}

.headerdiv img {
    width:50px;
    height:40px;
    margin-top:4px;
    border-radius: 15px;
    cursor: pointer;
}


.GlobalMain{
    width: 100%;
    height:500px;
    border-bottom:1px solid grey;
    margin-top:150px;
}


.img img {
    width:300px;
    height:200px;
    margin-left:500px;
}

.img{
    position: absolute;
    top:150px;
}

.info2 {
    position: relative;
    top:150px;
}

.info2 span {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:royalblue;
}
.info2 h1 {
    color:rgb(130, 143, 184)
}
.GLOBAL{
    position: relative;
    bottom: 100px;
    margin-left:300px;
}

.buttons{
    margin-top:30px;
}
.button1{
    border:none;
    background:grey;
    color:white;
    width:150px;
    height:40px;
    border-radius: 15px;
    cursor:pointer;
}

.button2{
    border:none;
    background:darkgrey;
    color:white;
    width:150px;
    height:40px;
    border-radius: 15px;
    cursor:pointer;
}